// core
$white: #FFF;
$black: #000;
$lightblack: #282828;
$lightblack: #282828;
$lightgrey: lightgrey;
$gray: gray;
$gray-stripe: #3d3d3d;

$body-bg: #FFF;
$primary: #3EB9FF;
$secondary: #88d840;
$tertiary: #2A351F;
$warning: #2A351F;
$light: $lightgrey;

$font-family-base: 'Roboto', sans-serif;

$enable-rounded: false;

$text-color: $white;

$gold: #FFD700;

//themes
$purple: #695EA2;
$orange: #F07C3A;
$blue: #3EB9FF;
$lime: $secondary;







